In [18]:
import pandas as pd

In [26]:
scores = [["男", "会计学院", "审计"], ["男", "会计学院", "审计"], 
          ["男", "会计学院", "审计"], ["男", "工商管理学院", "市场营销"]]
names = ["张三", "李四", "王军", "李强"]
courses = ["性别", "学院", "专业"]

df = pd.DataFrame(data=scores, columns=courses, index=names)

print(df.to_string(index=True, justify='center'))    #https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_string.html

     性别      学院        专业
张三   男      会计学院      审计
李四   男      会计学院      审计
王军   男      会计学院      审计
李强   男  工商管理学院  市场营销

In [47]:
print(list(df.loc["王军"]))

['男', '会计学院', '审计']

In [96]:
subjects = set(list(df["专业"]))
subjects

{'审计', '市场营销'}

In [95]:
df.loc["王军", "专业"]    #tip: 如果一个cell里只有一个值要输出，可以不用print

'审计'

<font face="微软雅黑" size=5 color=#A52A2A >1.查看信息的操作

In [43]:
#查看索引，就是左边那一列
df.index

Index(['张三', '李四', '王军', '李强'], dtype='object')

In [55]:
#查看列名
print(df.columns)
#可以像数组一样操作
print(df.columns[0])

Index(['性别', '学院', '专业'], dtype='object')
性别

In [56]:
#查看所有数据
df.values

array([['男', '会计学院', '审计'],
       ['男', '会计学院', '审计'],
       ['男', '会计学院', '审计'],
       ['男', '工商管理学院', '市场营销']], dtype=object)

<font face="微软雅黑" size=5 color=#A52A2A >2.选择信息的操作（选择一行、一列等）

In [73]:
#选择一列，格式为dataframe.column_name
print(df.学院)
print('\n')

#另一种方法，只能选择一列
print(df["学院"])
print('\n')

#可以用list()方法转为数组格式
print(list(df.学院))

张三        会计学院
李四        会计学院
王军        会计学院
李强    工商管理学院
Name: 学院, dtype: object


张三        会计学院
李四        会计学院
王军        会计学院
李强    工商管理学院
Name: 学院, dtype: object


['会计学院', '会计学院', '会计学院', '工商管理学院']

In [80]:
#dataframe.loc[]，一般用的比较多，因为好理解。

#最简单的形式，参数是行名
print(df.loc["王军"])
print('\n')

#逗号前是行的索引，逗号后是列的索引，冒号是数组的切片操作，[:]表示整个数组。这句意思是选择所有行但是只选择“性别”和“学院”这两列
print(df.loc[:,["性别", "学院"]])
print('\n')

#和上一句类似，可以选择一行一列，就可以选择某个具体值
print(df.loc[["王军"],["学院"]])
print('\n')
#选择某个元素还有另一种写法,和上一句差不多只有一个方括号，结果会比上一句少了行名和列名，直接就是string类型。
#可以记成，简单的写法出来的结果就简单
print(df.loc["王军","学院"])

性别          男
学院    会计学院
专业        审计
Name: 王军, dtype: object


     性别          学院
张三   男      会计学院
李四   男      会计学院
王军   男      会计学院
李强   男  工商管理学院


          学院
王军  会计学院


会计学院

In [74]:
#切片
a = [1,2,3,4]
a[:]

[1, 2, 3, 4]

<font face="微软雅黑" size=5 color=#A52A2A >3.集合

In [93]:
#集合是一个无序的无重复元素序列。形式是带花括号的{1，2，3}，把数组转换为集合时，会自动去掉里面重复的元素。
b = [1, 2, 3, 4, 4, 4, 5, 6]
b_set = set(b)
print(b_set)

#初始化集合两种方法
c = set()
c = {1, 2} #里面一定要有元素，不能用c = {}这种方法，这样初始化出来的是字典类型。

c = {}
print(type(c))

{1, 2, 3, 4, 5, 6}
<class 'dict'>

<font face="微软雅黑" size=5 color=#A52A2A >4.总结

In [ ]:
#别的记不住的话务必记得这三个：dataframe.index， dataframe.columns， dataframe.loc[]
#基本就够用了，别的用到再说

In [45]:
df

     性别          学院      专业
张三   男      会计学院      审计
李四   男      会计学院      审计
王军   男      会计学院      审计
李强   男  工商管理学院  市场营销

In [94]:
df.T

          张三      李四      王军          李强
性别        男        男        男            男
学院  会计学院  会计学院  会计学院  工商管理学院
专业      审计      审计      审计      市场营销

-T